.input__{
    width: 19.125rem;
    height: 1.875rem;
    border-radius: 8px;
    border: 0.125rem;
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: #7af6d9
}
.input__:focus{
    border: none;
}